header {position: fixed;width: 100%;top: 0;z-index: 9999;}
nav {padding: 20px 20px;background-color: #00cdcd;}
footer {position: fixed;bottom: 0;padding: 10px 0; width: 100%; background-color: #fafafa;border-top: 1px solid #e3e3e3;}
nav a {color: white;font-size: 18px;}
nav a:hover {color: white;text-decoration: none; font-size: 18px;}
.btn-theme {color: white; background-color: #ff7f00;}
.btn-theme:focus, .btn-theme:hover {color: white;background-color: #f67c03;}
.btn-theme:active {background-color: #ff7f00;}
#msg-section {margin-top: 80px;}
#myModal, #loginModal {margin-top: 30px;}
#login {float: right; margin-left: 10px;color: white;cursor: pointer;}
#login:hover {color: #fcfcfc;}
.message {margin: 10px 0;background-color: #fcfcfc;}
.author {display: block;margin-bottom: 8px;color: #969696;}
.thanks {color: #969696;}
.msg-content {font-size: 16px;}
#message-modal {padding: 5px 5px 0 5px;}
#message-close a {float: right;margin-right: 10px;}
#message-close button {float: right;}
#message-send button {float: right;}
#message-send span {margin-left: 20px;}
.thanks a {color: #969696;}
.thanks a:hover {color: black;text-decoration: none;}
.thanks a:focus {text-decoration: none;}
.comments {position: relative;display: none; margin-top: 12px;margin-left: 20px;margin-right: 20px; padding: 12px; border:1px solid #d6d6d6;border-radius: 4px;background-color: white;}
.comments-up {position: absolute;color: #d6d6d6;top: -21px; left: 73px;}
.input-comment {margin-bottom: 10px;}
.btn-comment {float: right;}
#page {text-align: center;}
#comments-page {text-align: center;margin: 8px 0;}
/*all css*/
.theme-color {color: #f67c03;}
#ajax-status {position: fixed;display: none; width: 300px; height: 100px;padding-top: 22px;text-align: center; margin:auto; left: 0; right: 0;top:0;bottom:0; border-radius: 5px;background-color: rgba(0,0,0,0.5); font-size: 18px;color: white;}
.text-success1 {color: #05d879;/*亮绿色*/}