{% extends "./base.html" %}

{% block title %}
<title>爱吐槽 - 以幽默的方式吐槽身边的人或事</title>
{% endblock %}

{% block content %}
<div class="container-fluid" id="msg-section">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="well well-sm message">
				<span class="author">
					<i class="fa fa-user" aria-hidden="true"></i> 匿名用户 &nbsp;&nbsp; 
					<i>2017.05.21 12:21</i>
				</span>
				<p class="msg-content">生活着的不容易，或许我们应该看看别人奥卡福的的日子啊，我都不知道怎么搬到啊啊。</p>
				<span class="thanks">
					<a href="#" class="btn-thx"><i class="fa fa-heart-o" aria-hidden="true"></i> <i>21</i> 感谢</a> &nbsp;&nbsp; 
					<a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i> <i>123</i> 条评论</a>
				</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="well well-sm message">
				<span class="author">
					<i class="fa fa-user" aria-hidden="true"></i> 匿名用户 &nbsp;&nbsp; 
					<i>2017.05.21 12:21</i>
				</span>
				<p class="msg-content">生活着的不容易，或许我们应该看看别人奥卡福的的日子啊，我都不知道怎么搬到啊啊。</p>
				<span class="thanks">
					<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a> <i>21</i> 感谢 &nbsp;&nbsp; 
					<a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i> <i>123</i> 条评论</a>
				</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="well well-sm message">
				<span class="author">
					<i class="fa fa-user" aria-hidden="true"></i> 匿名用户 &nbsp;&nbsp; 
					<i>2017.05.21 12:21</i>
				</span>
				<p class="msg-content">生活着的不容易，或许我们应该看看别人奥卡福的的日子啊，我都不知道怎么搬到啊啊。</p>
				<span class="thanks">
					<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a> <i>21</i> 感谢 &nbsp;&nbsp; 
					<a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i> <i>123</i> 条评论</a>
				</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="well well-sm message">
				<span class="author">
					<i class="fa fa-user" aria-hidden="true"></i> 匿名用户 &nbsp;&nbsp; 
					<i>2017.05.21 12:21</i>
				</span>
				<p class="msg-content">生活着的不容易，或许我们应该看看别人奥卡福的的日子啊，我都不知道怎么搬到啊啊。</p>
				<span class="thanks">
					<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a> <i>21</i> 感谢 &nbsp;&nbsp; 
					<a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i> <i>123</i> 条评论</a>
				</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="well well-sm message">
				<span class="author">
					<i class="fa fa-user" aria-hidden="true"></i> 匿名用户 &nbsp;&nbsp; 
					<i>2017.05.21 12:21</i>
				</span>
				<p class="msg-content">生活着的不容易，或许我们应该看看别人奥卡福的的日子啊，我都不知道怎么搬到啊啊。</p>
				<span class="thanks">
					<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a> <i>21</i> 感谢 &nbsp;&nbsp; 
					<a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i> <i>123</i> 条评论</a>
				</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="well well-sm message">
				<span class="author">
					<i class="fa fa-user" aria-hidden="true"></i> 匿名用户 &nbsp;&nbsp; 
					<i>2017.05.21 12:21</i>
				</span>
				<p class="msg-content">生活着的不容易，或许我们应该看看别人奥卡福的的日子啊，我都不知道怎么搬到啊啊。</p>
				<span class="thanks">
					<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a> <i>21</i> 感谢 &nbsp;&nbsp; 
					<a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i> <i>123</i> 条评论</a>
				</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="well well-sm message">
				<span class="author">
					<i class="fa fa-user" aria-hidden="true"></i> 匿名用户 &nbsp;&nbsp; 
					<i>2017.05.21 12:21</i>
				</span>
				<p class="msg-content">生活着的不容易，或许我们应该看看别人奥卡福的的日子啊，我都不知道怎么搬到啊啊。</p>
				<span class="thanks">
					<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a> <i>21</i> 感谢 &nbsp;&nbsp; 
					<a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i> <i>123</i> 条评论</a>
				</span>
			</div>
		</div>
	</div>
</div>
{% endblock %}