{% extends "./base.html" %}

{% block title %}
<title>爱吐槽 - 以幽默的方式吐槽身边的人或事</title>
{% endblock %}

{% block content %}
<div class="container-fluid" id="msg-section">
	{% for article in articles %}
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="well well-sm message">
				<span class="author">
					{% if article.User_id ==0 %}
					<i class="fa fa-user" aria-hidden="true"></i> 匿名用户 &nbsp;&nbsp;
					{% else %}
					<i class="fa fa-user" aria-hidden="true"></i> {{ article.User_name.String }} &nbsp;&nbsp;
					{% endif %}
					<i>{{ article.Created_at }}</i>
				</span>
				<p class="msg-content">{{ article.Content }}</p>
				<span class="thanks" data-id="{{ article.Id }}">
					<a href="javascript:;" class="btn-thx"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <i>{{ article.Thanks }}</i> 赞</a> &nbsp;&nbsp; 
					<a href="javascript:;" class="get-comments"><i class="fa fa-commenting-o" aria-hidden="true"></i> <i>{{ article.Comments }}</i> 条评论</a>
				</span>
				<div class="comments">
					<i class="fa fa-caret-up fa-2x comments-up" aria-hidden="true"></i>
					<div></div>
					<div id="{{ article.Id }}" data-currpage="1">
						<div class="comments-page">
							<span class="btn btn-default comment-prev">上一页</span>
							<a href="javascript:;" class="btn btn-info disabled">1</a>
							<span class="btn btn-default comment-next">下一页</span>
						</div>
						<input type="text" name="comment" maxlength="255" class="form-control input-comment" placeholder="请写下你的评论">
						<button class="btn btn-theme btn-comment">评论</button>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	<br>
	<div id="page">
		{% if current_page ==1 %}<span class="btn btn-default disabled">&lt;</span>{% else %}<a href="/?page={{ current_page - 1 }}" class="btn btn-default">&lt;</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="/?page={{ current_page }}" class="btn btn-info disabled">{{ current_page }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
		{% if current_page == all_page %}<span class="btn btn-default disabled">&gt;</span>{% else %}<a href="/?page={{ current_page + 1 }}" class="btn btn-default">&gt;</a>{% endif %}
	</div>
	{{ test_time }}
	<br><br><br>
</div>
{% endblock %}