{% extends "./base.html" %}

{% block title %}
<title>爱吐槽 - 以幽默的方式吐槽身边的人或事</title>
{% endblock %}

{% block content %}
<div class="container-fluid" id="msg-section">
	{% for article in articles %}
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="well well-sm message">
				<span class="author">
					{% if article.User_id ==0 %}<i class="fa fa-user" aria-hidden="true"></i> 匿名用户 &nbsp;&nbsp;{% endif %}
					<i>{{ article.Created_at }}</i>
				</span>
				<p class="msg-content">{{ article.Content }}</p>
				<span class="thanks" data-id="{{ article.Id }}">
					<a href="javascript:;" class="btn-thx"><i class="fa fa-heart-o" aria-hidden="true"></i> <i>{{ article.Thanks }}</i> 感谢</a> &nbsp;&nbsp; 
					<a href="javascript:;"><i class="fa fa-commenting-o" aria-hidden="true"></i> <i>{{ article.Comments }}</i> 条评论</a>
				</span>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}