{% extends "../base.html" %}

{% block title %}
<title>注册页面</title>
{% endblock %}

{% block content %}
<div class="container-fluid" id="msg-section">
<br>
	<div class="col-sm-offset-2 col-sm-8">
		{% if errors %}
		<div class="alert alert-danger">
			<ul>
				{% for error in errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		        <form class="form-horizontal" role="form" method="post" action="/register" id="form-register">
					<input type="hidden" name="_csrf" value="{{ token }}">
		        	<div class="form-group">
		        		<label class="col-sm-2 control-label">昵称</label>
		        		<div class="col-sm-8">
		        			<input type="text" name="昵称" class="form-control" value="{{ data.Name }}" required="required" placeholder="3至8个字符">
		        		</div>
		        	</div>
		        	<div class="form-group">
		        		<label class="col-sm-2 control-label">账户</label>
		        		<div class="col-sm-8">
		        			<input type="email" name="邮箱" class="form-control" value="{{ data.Email }}" required="required" placeholder="邮箱">
		        		</div>
		        	</div>
		        	<div class="form-group">
		        		<label class="col-sm-2 control-label">密码</label>
		        		<div class="col-sm-8">
		        			<input type="password" name="密码" class="form-control" id="re-password" required="required" maxlength="150" placeholder="至少6位">
		        		</div>
		        	</div>
		        	<div class="form-group">
		        		<label class="col-sm-2 control-label">密码确认</label>
		        		<div class="col-sm-8">
		        			<input type="password" name="密码确认" class="form-control" required="required" maxlength="150" placeholder="至少6位">
		        		</div>
		        	</div>
		        	<div class="form-group">
		        		<div class="col-sm-offset-2 col-sm-8">
						    <button class="btn btn-theme pull-right" id="post-register">注册</button>
						</div>
		        	</div>
		        </form>
		        
	</div>
	<div class="clearfix"></div>
</div>
{% endblock %}