{% extends "../base.html" %}

{% block title %}
<title>爱吐槽 个人设置 修改头像</title>
{% endblock %}

{% block content %}
<div class="container" id="msg-section">
<br>
	<div class="col-sm-3">
		<ul id="setting">
			<li class="setting"><a href="/auth/setting/name"><i class="fa fa-user-circle-o" aria-hidden="true"></i> 修改昵称</a></li>
			<li class="setting"><a href="/auth/setting/sex"><i class="fa fa-mars" aria-hidden="true"></i> 修改性别</a></li>
			<li class="setting-active"><a href="/auth/setting/header"><i class="fa fa-picture-o" aria-hidden="true"></i> 上传头像</a></li>
			<li class="setting"><a href="/auth/setting/password"><i class="fa fa-key" aria-hidden="true"></i> 修改密码</a></li>
		</ul>
	</div>
	<div class="col-sm-offset-1 col-sm-7 text-center">
	<br>
				<img src="{{ authUser.Header }}" id="img-header">
				<br>
				<br>
				<input type="hidden" name="_csrf" value="{{ token }}">
	        	<input type="file" name="header" accept="image/*" id="input-header">
	        	<button class="btn btn-theme" id="btn-set-header">上传头像</button>
	        	<br><br>
				<div id="ajax-status2">
				&nbsp;
				</div>
		       <br>
	</div>
	<div class="clearfix"></div>
	<br>
	<br>
	
</div>
{% endblock %}