{% extends "../base.html" %}

{% block title %}
<title>爱吐槽 个人设置 修改密码</title>
{% endblock %}

{% block content %}
<div class="container" id="msg-section">
<br>
	<div class="col-sm-3 col-xs-12">
		<ul id="setting">
			<li class="setting"><a href="/auth/setting/name"><i class="fa fa-user-circle-o" aria-hidden="true"></i> 修改昵称</a></li>
			<li class="setting"><a href="/auth/setting/sex"><i class="fa fa-mars" aria-hidden="true"></i> 修改性别</a></li>
			<li class="setting"><a href="/auth/setting/header"><i class="fa fa-picture-o" aria-hidden="true"></i> 上传头像</a></li>
			<li class="setting-active"><a href="/auth/setting/password"><i class="fa fa-key" aria-hidden="true"></i> 修改密码</a></li>
		</ul>
	</div>
	<div class="col-sm-offset-1 col-sm-7 col-xs-12">
				<div id="ajax-status2">
				&nbsp;
				</div>
				<input type="hidden" name="_csrf" value="{{ token }}">
	        	<input type="password" name="old-psd" class="form-control" value="" required="required" minlength="3" placeholder="旧密码"><br>
	        	<input type="password" name="new-psd" class="form-control" value="" required="required" minlength="3" placeholder="新密码"><br>
	        	<input type="password" name="new-psd-confirm" class="form-control" value="" required="required" minlength="3" placeholder="新密码确认">
	        	<br>
				<button class="btn btn-theme" id="btn-set-password">修改</button>
		       <br>
	</div>
	<div class="clearfix"></div>
</div>
{% endblock %}